body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #605454;
}

h2 {
    text-align: center;
    margin: 40px 0 20px;
}

.card {
    background: white;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}


.featured {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
        border: 3px dashed #ff9800;
    border-radius: 15px;
    padding: 25px;
    background: #fffaf3;
}

.featured .card {
    width: 200px;
    background: #ffe8cc;
}


.categories {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 15px;
    margin: 20px;
    border: 3px dotted #00acc1;
    border-radius: 15px;
    padding: 25px;
    background: #f1fcfd;
}

.categories .card {
    flex: 1 1 150px;
    background: #e0f7fa;
}


.best-sellers {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 12px;
    border: 3px solid #e91e63;
    border-radius: 15px;
    padding: 15px;
    background: #fff5f8;
    
}

.best-sellers .card {
    width: 220px;
    background: #fce4ec;
    padding: 14px;
    border-radius: 10px;
    
}


.new-arrivals {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
    border: 3px double #4caf50;
    border-radius: 15px;
    padding: 25px;
    background: #f4fff6;
}

.new-arrivals .card {
    flex: 1 1 250px;
    background: #e8f5e9;
}


@media (max-width: 600px) {
    .best-sellers {
        justify-content: center;
    }
}