<nav class="navbar">
    <img src="assets/Images/hartfordlogo.jfif">
    <ul class="links">
        <li><a routerLink="/auto">Auto</a></li>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/business">Business</a></li>
        <li><a routerLink="/employeebenefits">EmployeeBenefits</a></li>
        <li><a routerLink="/about">About</a></li>
    </ul>
    <div class="search-box">
        <input type="text" placeholder="Help me find...">
     <img src="assets/Images/search.jfif" class="search-icon">
    </div>
    
</nav>
