.card {
  width: 220px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}

.stars span {
  font-size: 26px;
  cursor: pointer;
  color: #ccc;
}

.stars span.active {
  color: gold;
}

