

body {
  font-family: "Times New Roman", serif;
}

h1, h2 {
  text-transform: uppercase;
}

a:hover {
  color: red;
  text-decoration: underline;
}

img {
  border: 3px solid #333;
  border-radius: 10px;
}

nav {
  text-align: center;
}

mark {
  background-color: yellow;
}

input[type="submit"],
input[type="reset"] {
  background-color: #333;
  color: white;
  padding: 5px 12px;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: black;
}
